/* Remove the navbar's default rounded borders and increase the bottom margin */

.navbar {
	border-radius: 0;
}

.headerimage {
	height: 150px;
	overflow: visible !important;
	overflow-x: visible !important;
	overflow-y: visible !important;
	background: rgb(230, 230, 230) url(http://www.becbapatla.ac.in/img/bg_head_middle.jpg);
	margin-bottom: 0;
}


/* Remove the jumbotron's default bottom margin */

.jumbotron {
	margin-bottom: 0;
}

.divThree {
    margin: auto;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
.divOne {
    line-height:30px;
        background-color:#eeeeee;
        height:100%;
        width:25%;
        float:left;
        padding:5px;
}
.divTwo {
    padding-left: 2%;
    padding-top: 5%;
    float: left;
    width: 75%;
}
.selected {
    background-color: #fffe;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: black;
    float: left;
}

textarea{
    height: 250px;
}




